<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="20"/>
    </connectionManagement>
  </system.net>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RealmPlayersServer.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="RealmPlayersServer.Service1">
        <endpoint address="" behaviorConfiguration="RealmPlayersServer.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="RealmPlayersServer.Service1" />
      </service>
    </services>
  </system.serviceModel>
</configuration>